.container {
  max-width: 1000px;
}

.card-film {
  margin-bottom: 30px;
  height: 410px;
  .card {
    height: 100%;
  }
  small {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  img {
    min-height: 300px;
  }
  .detail-button {
    position: absolute;
    bottom: 10px;
  }
}
.detail-movie {
  font-weight: 500;
}
i {
  color: #e8b708;
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 3.2em;
}
.row {
  width: 100%;
}
span:hover {
  color: blue;
  cursor: pointer;
}

$color-4: #eead68;
$color-3: #eec368;
$color-2: #eece68;
$color-1: #eed968;
$color-5: #ee8c68;

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim() {
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%,
    100% {
      opacity: 0;
    }
  }
}

.container1 {
  position: absolute;
  left: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  animation-delay: 1s;
}

@for $i from 1 through 5 {
  .item-#{$i} {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    @include anim();
    background-color: nth($color, $i);
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: nth($color, $i);
      opacity: 0.7;
      animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
      animation-delay: 200ms * $i;
      transition: 0.5s all ease;
      transform: scale(1);
    }
  }
}
.review-content {
  padding: 20px;
}
